::selection {
  background: #f78da7;
  color: #fff;
}

body,
form,
h1,
h2,
h3,
h4,
h5,
ol,
p,
ul {
  margin: 0;
}

ol,
ul {
  padding: 0;
}

html {
  font: 14px "HarmonyOS_Regular", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", sans-serif;
  color: $font-color;
  margin: 0;
  font-size: 14px;
}
body {
  margin: 0;
  // background-color: $bg-color;
  // background-color: #000;
}

button,
input,
option,
select,
textarea {
  font: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

button:focus,
input:focus,
textarea:focus {
  outline: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #05b0ff;
  cursor: pointer;
}

img {
  border: 0 none;
}

main {
  margin-top: 74px;
  min-height: calc(100vh - 74px);
}

// @media screen and (min-width: 600px) {
//   ::-webkit-scrollbar {
//     // width: 8px;
//     width: 0;
//   }

//   ::-webkit-scrollbar-track {
//     background: transparent;
//     border-left: 1px solid rgba(128, 128, 128, 0.18);
//     background: var(--color-body-bg);
//   }

//   ::-webkit-scrollbar-thumb {
//     -webkit-border-radius: 10px;
//     border-radius: 10px;
//     background: rgba(128, 128, 128, 0.38);
//   }

//     ::-webkit-scrollbar {
//       // width: 8px;
//       width: 0;
//     }
  
//     ::-webkit-scrollbar-track {
//       background: transparent;
//       border-left: 1px solid rgba(128, 128, 128, 0.18);
//       background: #fff;
//     }
  
//     ::-webkit-scrollbar-thumb {
//       -webkit-border-radius: 10px;
//       border-radius: 10px;
//       background: rgba(128, 128, 128, 0.38);
//     }
// }
