$font-size-normal: 32px;
$color: #61666d;
$bg-color: #fff;
$font-color: #243042;

$orange: #ff6900;
$green: #00D084;
$blue: #0693E3;
$grey: #ABB8C3;
$red:  #EB144C;
$pink: #F78DA7;
$purple: #9900EF;

$loder-img-z-index: 999;
$loder-zhe-z-index: 998;
$top-up-z-index: 997;
