$font-size-normal: 32px;
$color: #61666d;
$bg-color: #fff;
$font-color: #243042;
$wryh: '微软雅黑';

$orange: #ff6900;
$green: #00D084;
$blue: #0693E3;
$grey: #ABB8C3;
$red:  #EB144C;
$pink: #F78DA7;
$purple: #9900EF;

$header-z-index: 999;
$loder-img-z-index: 902;
$loder-zhe-z-index: 901;
$loder-player-z-index: 900;
$top-up-z-index: 0;


$mobile-width: 600px;