.music{
  background: linear-gradient(#fdefef,#fff) repeat-x top left;
	background-size: 100% 300px;
  font-size: 18px;
  padding-top: 5em;
  padding-bottom: 10em;
  margin: 0 auto;
  text-align: center;
}