.project {
  background: linear-gradient(#fff5ea, #fff) repeat-x top left;
  background-size: 100% 300px;
  .container {
    padding: 7em 0;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    .item {
      display: inline-block;
      width: 18em;
      padding: 2em 0;
      cursor: pointer;
      img{
        // width: 11em;
        // height: 11em;
        border-radius: 2em;
      }
      h3{
        color: #ff8405;
        font-weight: 100;
        font-size: 1.37em;
      }
      p{
        font-size: 1.2em;
        font-weight: 200;
        color: #aaa;
      }
    }
  }
}
